.lorem-output{
  border-radius: 5px;
  ul{
    list-style: none;
    padding : 15px;
  }
  .copy-icon{
    float: right;
  }
  textarea{
    height: 80vh;
    width: 100%;
    outline: none;
    resize: none;
    border:none;
    -moz-scrollbars-none
    ::-webkit-scrollbar {
        display: none;
    }

  }
}
